################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/OnionArcExample/FileContentIndex/9b727ed1-eacc-453b-ba22-4a479a7feb3b.vsidx
